.rojo{
    color: red;
}

.verde{
    background-color: green;
}

.blanco{
    color:white;
}

.celeste{
    background-color: aqua;
}

.verdeColor{
    background-color: green;
    
}

.amarillo{
    background-color:yellow;
    
}

.rojoColor{
    background-color: red;
    
}