.rojo{
    color: red;
}

.verde{
    background-color: green;
}

.blanco{
    color:white;
}

.celeste{
    background-color: aqua;
}

.verdeColor{
    background-color: green;
    width: 50px;
    
}

.amarillo{
    background-color:yellow;
    width: 50px;
}

.rojoColor{
    background-color: red;
    width: 50px;
    
}

.azul{
    color: blue;
}

/*Css para el ejercicio 7*/
.nuevo{
    color:yellowgreen
}
.rojo{
    color:red
}
.saludo{
    font-size: 30px;
}
.campo{
    border-radius: 10px;
    background-color: salmon;
}
.ayuda:hover{
    background-color: lightblue;
}